# Tables

John Curtin

Need to code out some examples of making tables using kableExtra and built in data. Plan is to export these tables as images to allow there use regardless of the document format used to publish the manuscript.

In [ ]:
# set up environment
options(conflicts.policy = "depends.ok")
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.0     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

ℹ SHA-1 hash of file is "a58e57da996d1b70bb9a5b58241325d6fd78890f"

In [ ]:

kbl(mtcars[1:10, 1:5]) |>
  kable_styling(bootstrap_options = "striped", full_width = F, position = "float_right") |>
  kable_styling(fixed_thead = T) |>
  add_header_above(c(" " = 1, "Group 1" = 2, "Group 2" = 2, "Group 3" = 1))

In [ ]:

knitr::kable(mtcars[1:2, 1:2], table.attr = "class=\"striped\"",
  format = "html")

,mpg,cyl
Mazda RX4,21,6
Mazda RX4 Wag,21,6

You can also save a table as an image which can later be imported by another document. Set the zoom and density to get the DPI you want. For a web output, zoom = 2 and density = 300 outputs an image over 800x1200 which should be good enough for even the largest monitors

In [ ]:
kableExtra::kbl(mtcars) |> 
  kableExtra::save_kable("images/table2.png", bs_theme = "flatly", zoom= 2, density=300)